[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Blog
[access "refs/*"]
	owner = group user/memorywalker
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/memorywalker
	label-Verified = -1..+1 group user/memorywalker
	push = group user/memorywalker
	read = group user/memorywalker
	rebase = group user/memorywalker
	removeReviewer = group user/memorywalker
	submit = group user/memorywalker
[access "refs/heads/*"]
	create = group user/memorywalker
	push = +force group user/memorywalker
	pushMerge = group user/memorywalker
	read = group user/memorywalker
[access "refs/tags/*"]
	push = group user/memorywalker
	push = +force group user/memorywalker
